@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.app.window-app .window-content {
  background: url(/ui/parchment-white.jpg) repeat;
  color: #000;
}
.app.window-app .window-content .compendium-name {
  color: #fff;
}
.app.window-app .window-content .sidebar,
.app.window-app .window-content .journal-entry-content {
  background: url(/ui/parchment-white.jpg) repeat;
  color: #000;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-col {
  flex: 1;
  margin: 0 5px 0 10px;
}

/* Styles limited to shinobi sheets */
.shinobi .item-form {
  font-family: "Roboto", sans-serif;
}
.shinobi .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.shinobi .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.shinobi .sheet-header .header-fields {
  flex: 1;
}
.shinobi .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.shinobi .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: left;
}
.shinobi .sheet-tabs {
  flex: 0;
}
.shinobi .sheet-body,
.shinobi .sheet-body .tab,
.shinobi .sheet-body .tab .editor {
  height: 100%;
  max-height: 500px;
}
.shinobi .sheet-body.item-body {
  height: 350px;
}
.shinobi .sheet-body.item-body .editor {
  height: 350px;
}
.shinobi .sheet-body.item-body .editor .editor-content {
  height: 350px;
}
.shinobi .tox .tox-editor-container {
  background: #fff;
}
.shinobi .tox .tox-edit-area {
  padding: 0 8px;
}
.shinobi .tox.tox-tinymce {
  min-height: 200px;
}
.shinobi textarea {
  font-family: "Roboto", sans-serif;
  font-size: small;
  resize: none;
  height: 100%;
}
.shinobi .weapons,
.shinobi .special,
.shinobi .description,
.shinobi .increments {
  height: 100%;
}
.shinobi .weapons-body,
.shinobi .special-body,
.shinobi .description-body,
.shinobi .increments-body {
  height: 100%;
}
.shinobi .description-container {
  height: 300px;
}
.shinobi .class-editor .editor-content {
  height: 100%;
  overflow-y: scroll;
}
.shinobi .martial-editor .editor {
  min-height: 200px;
}
.shinobi .advDisadv textarea,
.shinobi .clan-body textarea {
  height: 125px;
}
.shinobi .resource-chart {
  align-items: center;
}
.shinobi .resource-box-label {
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
  margin: 5px;
}
.shinobi .abilities-header {
  min-width: 250px;
}
.shinobi .resistances-header {
  min-width: 100%;
}
.shinobi .ability-label {
  text-align: left;
  min-width: 100px;
}
.shinobi .ability-input {
  max-width: 30px;
  text-align: center;
}
.shinobi .ability-mod {
  text-align: center;
}
.shinobi .resistance {
  min-width: 100%;
}
.shinobi .resistance-label {
  text-align: left;
  min-width: 30%;
}
.shinobi .resistance-level {
  text-align: center;
  min-width: 15%;
}
.shinobi .resistance-mod {
  text-align: center;
  min-width: 15%;
}
.shinobi .resistance-others {
  text-align: center;
  min-width: 20%;
}
.shinobi .resistance-final {
  text-align: center;
  min-width: 20%;
}
.shinobi .resistance-value {
  text-align: center;
  min-width: 20%;
  max-width: 20%;
}
.shinobi .secondary-label {
  text-align: left;
  min-width: 25%;
}
.shinobi .secondary-ip {
  max-width: 10%;
  text-align: center;
}
.shinobi .secondary-mod {
  max-width: 10%;
  text-align: center;
}
.shinobi .secondary-class {
  max-width: 10%;
  text-align: center;
}
.shinobi .secondary-nd {
  max-width: 10%;
  text-align: center;
}
.shinobi .secondary-others {
  max-width: 10%;
  text-align: center;
}
.shinobi .secondary-final {
  max-width: 10%;
  text-align: center;
}
.shinobi .secondary-value {
  max-width: 20%;
  text-align: center;
}
.shinobi .select-field {
  width: 150px;
  margin: 3px;
}
.shinobi .resource-box {
  border-width: 1px;
  border-radius: 5px;
  border-color: #000;
  border-style: solid;
  margin: 5px;
  box-sizing: border-box;
}
.shinobi .advDisadv-name-adv .resource-field-advDisadv input,
.shinobi .advDisadv-name-adv textarea,
.shinobi .advDisadv-name-disadv .resource-field-advDisadv input,
.shinobi .advDisadv-name-disadv textarea {
  margin: 5px;
  width: calc(100% - 25px);
}
.shinobi .advDisadv-gain,
.shinobi .advDisadv-cost {
  width: 90px;
}
.shinobi .advDisadv-gain input,
.shinobi .advDisadv-cost input {
  margin: 5px;
}
.shinobi .advDisadv-name-adv h2,
.shinobi .advDisadv-name-disadv h2,
.shinobi .advDisadv-cost h2,
.shinobi .advDisadv-gain h2 {
  text-align: center;
}
.shinobi .secondary span {
  padding: 3px;
}
.shinobi .secondary span:nth-of-type(odd) {
  background-color: rgba(47, 79, 79, 0.12);
  border-radius: 5px;
}
.shinobi .resource-content div {
  margin: 10px;
}
.shinobi .summary {
  width: fit-content;
  padding: 10px;
}
.shinobi .summary.combat-summary label {
  pointer-events: auto;
}
.shinobi .summary label {
  pointer-events: none;
}
.shinobi summary:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.shinobi summary:hover::marker {
  color: red;
}
.shinobi .resource-box details > summary {
  list-style: none;
}
.shinobi .resource-box summary::-webkit-details-marker {
  display: none;
}
.shinobi .resource-box summary::after {
  content: " ►";
}
.shinobi .resource-box details[open] summary:after {
  content: " ▼";
}
.shinobi .resource-box summary:hover::after {
  color: red;
}
.shinobi .resource-box details[open] summary:hover:after {
  color: red;
}
.shinobi .rest {
  display: flex;
  justify-content: center;
}
.shinobi .rest .half-rest,
.shinobi .rest .total-rest {
  display: flex;
  width: 100px;
  text-align: center;
  background-color: rgba(47, 79, 79, 0.12);
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  margin: 5px;
  box-sizing: border-box;
}
.shinobi .rest .half-rest:hover, .shinobi .rest .half-rest:focus,
.shinobi .rest .total-rest:hover,
.shinobi .rest .total-rest:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.shinobi .resource-label {
  font-weight: bold;
  margin: 5px;
}
.shinobi .resource-field input {
  margin: 5px;
  max-width: 35px;
  text-align: center;
}
.shinobi .resource-field-text input {
  margin: 5px;
  max-width: 100px;
}
.shinobi .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.shinobi .items-header > * {
  font-size: 14px;
  text-align: center;
}
.shinobi .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.shinobi .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.shinobi .items-list .item-name {
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
  flex: 0 0 100px;
}
.shinobi .items-list .item-name h4 {
  margin: 0;
  padding: 2px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.shinobi .items-list .item-features .item-feature {
  margin: 0;
  text-align: center;
}
.shinobi .items-list .item-features h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
.shinobi .items-list .item-object-controls {
  display: flex;
  justify-content: flex-end;
  flex: 50 0 0px;
}
.shinobi .items-list .item-object-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.shinobi .items-list .item-controls {
  display: flex;
  flex: 0 0 0px;
  justify-content: flex-end;
}
.shinobi .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.shinobi .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
  flex-wrap: nowrap;
}
.shinobi .items-list .item:last-child {
  border-bottom: none;
}
.shinobi .items-list .item .item-name {
  color: #191813;
}
.shinobi .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.shinobi .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.shinobi .items-list .items-header {
  height: 40px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.shinobi .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.shinobi .items-list .items-header .item-name.weapon {
  margin-left: 55px;
}
.shinobi .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.shinobi .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.shinobi .effects .item .effect-source,
.shinobi .effects .item .effect-duration,
.shinobi .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.shinobi .effects .item .effect-controls {
  border: none;
}

/*# sourceMappingURL=shinobi.css.map */
