.resource-label {
  font-weight: bold;
  margin: 5px;
}

.resource-field {
  input {
    margin: 5px;
    max-width: 35px;
    text-align: center;
  }

  &-text input {
    margin: 5px;
    max-width: 100px;
  }
}