{{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
the rollData property. --}}

<h1>
    {{localize "Chakra"}}
</h1>

{{editor system.chakra target="system.chakra" rollData=rollData button=true owner=owner editable=editable}}