<div class="advDisadv grid grid-2col">
    <div class="advantages-header flexrow flex-center">
        <h2>{{localize "Advantages"}}</h2>
        <h2>{{localize "Cost"}}</h2>
    </div>
    <div class="advantages flexrow flex-center">
        <input type="text">
    </div>
</div>