<div class="rest">
    <div class="half-rest">
        <span for="system.rest.half" class="resource-label">{{localize "Half Rest"}}</span>
    </div>
    <div class="total-rest">
        <span for="system.rest.total" class="resource-label">{{localize "Total Rest"}}</span>
    </div>
</div>