<div class="resource-field">
    <label for="system.range" class="resource-label">{{localize "Sobrenatural Range"}}</label>
    <label type="text" name="system.range" value="{{system.range}}">{{localize system.range}}</label>
</div>