<label for="system.speed.value" class="resource-label">{{localize "Movement Speed"}}</label>
<label type="number" name="system.speed.value" value="{{system.speed.value}}">{{system.speed.value}}</label>