.window-app {
  font-family: $font-primary;
}

.app.window-app .window-content {
  background: url(/ui/parchment-white.jpg) repeat;

}

.rollable {

  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}