<form>
    <div class="form-group">
        <label>1d10 + {{defense}} + {{localize "Armor"}}:</label>
        <input type="text" id="dialogArmorValue" value="{{dialogArmorValue}}"  />
    </div>
</form>